/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

/* Style the file input button */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#jsonFileInput {
    display: none;
}

.custom-file-upload {
    border: 1px solid #0056b3;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#generateTable, #copyTable {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#generateTable:hover, #copyTable:hover {
    background-color: #0056b3;
}

/* Responsive Table */
.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #f1f1f1;
}

#jsonInput {
    display: block;
    margin-left: 10px;
}

.textarea-container {
    position: relative;
    display: inline-block;
}

#jsonInput {
    width: 300px;
    height: 100px;
}

.clear-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    transition: transform 0.2s ease;
}

.clear-button:hover {
    background-color: rgb(255, 107, 107);
    transform: scale(1.2);
}

.copy-container {
    display: inline-flex;
    align-items: center;
}

#casinoIdDisplay {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}


@media (max-width: 768px) {
    th, td {
        font-size: 14px;
        padding: 10px 12px;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 12px;
        padding: 8px 10px;
    }
}